html {
	height: 100%;
}

body {
	background: url("./grain.png"), linear-gradient(to bottom, #424F5A, #6A7B86);
	margin: 0px;
	overflow: hidden;
}

.workspace {
	display: block;
	position: absolute;
	width: 90%;
	top: 5%;
	left: 5%;
}

/* Adjust Tab Size */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding: 0.2em 1.5em; }
/*.ui-helper-reset { font-size: 80%; }  */


.programContainer {
	display: inline-block;
	position: relative;
	width: 60%;
	top: 1%;
	left: 0;
}

#controlContainerA, #controlContainerB {
	display: inline-block;
	position: relative;
	width: 18%;
	top: -5%;
	float: right;
	margin-bottom: 1vh;
}

.streamControlContainer {
	position: absolute;
	top: 0.8vh;
	left: 64%;
}

.streamControl {
	font-size: 80%;
	background-color: hsla(0, 0%, 80%, 1);
	border: black 2px solid;
}


.masterMediaContainer {
	display: inline-block;
	position: relative;
	width: 60%;
}

.mediaContainer { 
	clear: right;
	margin-top: 1vh;
}

#media > .mediaContainer {
	margin-top: 3vh;
}



.hidden {
	display: none;
}

.aspect {
	display: inherit;
}

.AR16x9 {
	padding-top: 56.25%;
}

.AR16x3 {
	padding-top: 18.75%;
}

.AR16x2 {
	padding-top: 12.25%;
}

.AR4x3 {
	padding-top: 75%;
}

.program {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	border: black 4px solid;
	border-radius: 2vh;
}

.layer  {
	width: 100%;
	height: 100%;
}


.slide,  .overlay,  .clip, .composite {
	display: inline-block;
	box-sizing: border-box;
	width: 16%;
	margin: 0 auto;
	border: transparent 3px solid;	
	border-radius: 5%;
}

.slideSrc, .overlaySrc, .clipSrc {
	display: inline-block;
	box-sizing: border-box;
	width: 16%;
	margin: 0 auto;
	border: transparent 3px solid;	
	border-radius: 5%;
}

.overlay, .overlaySrc, composite{
	background-color: hsla(0,0%,50%,0.5);
}




.cameraContainer{
	display: inline-block;
	position: relative;
	width: 100%;
}

.camera {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: transparent 4px solid;
	border-radius: 5%;
}

.cameraShot {
	display: inline-block;
	width: 100%;
	border: transparent 4px solid;
	border-radius: 5%;
}


#qrWindow {
	display: inline-block;
	position: relative;
	margin: 5vh;
	height: 50vh;
	width:  50vh;
	float: right;
}

#qrWindow :first-child {
	border: 25px white solid;
}

.formatContainer {
	display: inline-block;
	position: relative;
	margin-top: 5vh;
	float: left;
	clear: left;
}


.format, .connection{  /* see also: .ui-widget button */
	display: inline-block;
	position: relative;
	background-color: hsla(0, 0%, 80%, 1);
	border: black 3px solid;
	}

.microphone {  /* see also: .ui-widget button */
	position: relative;
	display: inline-block;
	margin-top: 1vh;
	margin-left: 0.2vw;
	background-color: hsla(0, 0%, 80%, 1);
	border: black 3px solid;
}

.micContainer {
	display: inline-block;
	position: relative;
	margin: 0 auto;
}

.micContainer :first-child {
	margin-left: 0.5vw;
}

label {
	font-weight: bolder;
	font-size: 1vw;
}

#address {
	width: 30vw;
}

.ui-widget input {
	font-size: 1vw;
}

.ui-widget button {
	font-size: 1vw;
	text-align: center;
	font-weight: bolder;
	vertical-align: middle;
	border-radius: 10%;
}

.activeCamera {
	border: hsla(142, 100%, 60% ,1) 4px solid;
}

.activeLayer {
	border: hsla(142,100%,60%,1) 3px solid;
}

.activeButtonGreen{
	border: hsla(142, 100%, 70%, 1) 3px solid;
	background-color: hsla(142, 80%, 50%, 1);
}

.activeButtonRed {
	border: hsla(0, 100%, 80%, 1) 2px solid;
	color: hsla(0, 100%, 80%, 1);
	background-color: hsla(0, 80%, 40%, 1);
}

#about img {
	width: 80%;
	margin: 0 auto;
}