body {
	background: url("./grain.png"), linear-gradient(to bottom, #424F5A, #6A7B86);
	margin: 0px;
	overflow: hidden;
}

#workspace {
	position: relative;
	width: 80%;
	margin: 25px auto;
}

.hidden {
	display: none;
}

.AR16x9 {
	padding-top: 56.25%;
}

.AR16x3 {
	padding-top: 18.75%;
}

.AR4x3 {
	padding-top: 75%;
}


.programContainer{
	display: inline-block;
	position: relative;
	width: 75%;
}

.program {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: black 4px solid;
	border-radius: 2%;
}

.layer  {
	width: 100%;
	height: 100%;
	border-radius: 2%;
}

.slide, .overlay, .clip {
	display: inline-block;
	width: 11.8%;
	margin: 20px auto 0 auto;
	border: transparent 3px solid;	
	border-radius: 5%;
}

.activeLayer {
	border: hsla(142,100%,70%,1) 3px solid;
}


#cameraSet{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 21%;
	padding-left: 5px;
}

.cameraContainer{
	display: inline-block;
	position: relative;
	width: 100%;
}

.camera {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: transparent 4px solid;
	border-radius: 5%;
}

.cameraShot {
	display: inline-block;
	width: 100%;
	border: transparent 4px solid;
	border-radius: 5%;
}


.activeCamera {
	border: hsla(142, 100%, 60% ,1) 4px solid;
}

.micContainer {
	display: inline-block;
	position: relative;
	width: 100%;
}

#mic0 {left: 0;}
#mic1 {left: 34%;}
#mic2 {right: 0;}

.microphone {
	position: absolute;
	display: table-cell;
	top: 5px;
	bottom: 0;
	width: 30%;
	background-color: hsla(0, 0%, 80%, 1);
	border: black 3px solid;
	border-radius: 10%;
	text-align: center;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 1vw;
	vertical-align: middle;
}

.activeMicrophone {
	border: hsla(142, 100%, 70%, 1) 3px solid;
	background-color: hsla(142, 80%, 50%, 1);
}


